* {
    margin: 0px;
    padding: 0px;
}


.loading-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.insta-img {
    width: 70px;
}


.fromm-meta {
    position: absolute;
    bottom: 25px;
}

.meta {
    width: 70px;
}

.from {
    font-size: 14px;
    color: #9da0a4;
    text-align: center;
}

.hidden {
    display: none;
}